.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.mainContainer h2{
    display: block;
    margin: auto;
    font-size: 50px;
    color: rgb(90, 166, 248);

}

.chatbot {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom:  20px;
    margin-right: 20px;
  }
  /* set some basic styles for the div */
  .chatbot {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px  #BCBCBC;

  }
  /* center the text inside the div */
  .chatbot p {
    text-align: center;
  }



  .formSections{
    display:flex;
  }
  .formSections .leftSection{
    padding: 15px 30px 5px 25px;
    width: 240px;
  }
  .formSections .rightSection{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .formSections .leftSection .chatbotTitle{
    font-size: 18px;
    font-family: arial;
    font-weight: medium;
    margin-bottom: 20px;
  }


  .formSections .leftSection input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
     border: 1px gray;
    border-style: none none  solid none;
    padding-left:2px;
    margin-top: 30px;
    outline: none;
  }
  .formSections .rightSection button {
    background-color: #F59221;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }
  .formSections .rightSection button img{
    padding: 16px 16px;
    width: 20px;
  }


  